@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
$font-family-base: 'Satisfy', cursive;

// scsss-docs-start theme-color-variables
$primary: #0d6efd !default;
$secondary: #6c757d !default;
$success: #198754 !default;
$info: #0dcaf0 !default;
$warning: #ffc107 !default;
$danger: #dc3545 !default;
$light: #f8f9fa !default;
$dark: #212529 !default;
$purple: #cf649a;
// scss-docs-end theme-color-variables

// scss-docs-start theme.colors-map
$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"success": $success,
	"info": $info,
	"warning": $warning,
	"danger": $danger,
	"light": $light,
	"dark": $dark,
	"purple": $purple
) !default;
// scss-docs-end theme.colors-map

@import '../node_modules/bootstrap/scss/bootstrap';

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px
}

.card {
    @extend .card;
    img {
        padding: 2rem;
    }
    &-title {
        padding: 1rem;
    }
}

.btn-black {
    @extend .btn;
    margin: 1rem;
}